.navegation {
    padding: 10px 10px 0px;
    min-height: 95vh;
    background-color: black;
    color: white;
    display: grid;
}

.navegation a {
    text-decoration: none;
    color: white;
}

.navegation-p {
    padding: 10px;
    padding-left: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    z-index: 1;
}

.navegation-default {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.navegation-default:hover {
    border: 1px solid white;
}

.link-menu {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.nav-default {
    margin: 5px;
}



.darkness2 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.2);
}

.darkness2:hover {
    background-color: rgb(0, 0, 0, 0.3);
    border: 1px solid rgb(70, 68, 68);
}

.navegation-grid {
    grid-template-areas:
        "navegation0 navegation0 navegation0 navegation0 navegation0"
        "navegation1 navegation3 navegation3 navegation4 navegation4"
        "navegation1 navegation3 navegation3 navegation4 navegation4"
        "navegation2 navegation3 navegation3 navegation5 navegation6"
        "navegation2 navegation3 navegation3 navegation5 navegation6"
    ;
}

@media screen and (max-width: 910px) {
    .darkness2 {
        display: none;
    }

    .navegation {
        min-height: 100%;
        flex-direction: column;
        height: 1100px;
    }

    .navegation-p {
        font-size: 18px;
        line-height: 1.2;
    }

    .navegation-grid {
        grid-template-areas:
            "navegation0 navegation0 navegation0 navegation0"
            "navegation1 navegation1 navegation3 navegation3"
            "navegation1 navegation1 navegation3 navegation3"
            "navegation2 navegation2 navegation3 navegation3"
            "navegation2 navegation2 navegation3 navegation3"
            "navegation4 navegation4 navegation4 navegation4"
            "navegation4 navegation4 navegation4 navegation4"
            "navegation5 navegation5 navegation6 navegation6"
            "navegation5 navegation5 navegation6 navegation6"
        ;
    }
}