.about-us {
    background-image: url('../images/wallpapers/004.jpg');
    background-color: white;
    padding: 40px;
}

.about-content {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.about-description {
    padding: 10px 10px 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
}

.about-description:nth-child(01) {
    margin-right: 10px;
}

.about-description:nth-child(02) {
    margin-left: 10px;
}

.about-description p {
    font-size: 20px;
    padding: 10px 20px;
}

.about-description h1 {
    color: white;
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.about-contact {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-contact a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 20px;
}

.about-contact a :hover {
    color: #a8a7a7;
}

.div-icon {
    padding: 10px;
}

.about_logo {
    padding-top: 30px;
    width: 60%;
}

@media screen and (max-width: 910px) {
    .title-page {
        background-image: none;
        text-align: center;
        background-image: linear-gradient(to right, transparent, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8), transparent);
    }

    .about-content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-description {
        width: 100%;
        padding: 40px 20px;
        margin-bottom: 20px;
    }

    .about-description:nth-child(01) {
        margin-right: 0;
    }

    .about-description:nth-child(02) {
        margin-left: 0;
    }
}