.about {
    position: relative;
    background: url('../images/wallpapers/lobo-uivando.jpg') no-repeat fixed;
    background-size: cover;
}

.about-us {
    padding: 10px;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-description {
    padding: 10px 10px 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.about-description:nth-child(01) {
    margin-right: 5px;
}

.about-description:nth-child(02) {
    margin-left: 5px;
}

.about-description p {
    font-size: 20px;
    padding: 10px 20px;
}

.about-description h1 {
    color: white;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.interation-contact {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.8);
    margin-bottom: 5px;
}

.about-contact {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-contact a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 20px;
}

.about-contact a :hover {
    color: #a8a7a7;
}

.about-descrip {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    margin-bottom: 5px;
    height: 100%;
}

.div-icon {
    padding: 10px;
}

.about_logo {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.8);
    height: 26%;
    margin-bottom: 5px;
}

.about-footer {
    background-color: black;
}

@media screen and (max-width: 910px) {
    .title-page {
        background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8), transparent);
        text-align: center;
        padding: 10px;
        line-height: 1.2;
        margin-top: 10px;
        z-index: 1;
    }

    .interation-contact,
    .about_logo {
        width: 95%;
    }

    .about-content {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us {
        margin-top: 0;
    }

    .about-description {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 0;
    }

    .about-description:nth-child(01) {
        margin-right: 0;
    }

    .about-description:nth-child(02) {
        margin-left: 0;
    }
}