.friend-section {
    display: flex;
    flex-direction: row;
    margin: 10px;
    min-height: 200px;
}

.friend-div-img {
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
}

.friend-img {
    padding: 15px;
    width: 250px;
}

.friend-text {
    margin-left: 10px;
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0.8), transparent);
    padding: 10px 20px;
}

.friend-name {
    font-size: 1.6vw;
}

.friend-description {
    padding: 10px 0;
    font-size: 1.4vw;
}

.friend-contact {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.friend-i {
    font-size: 1.6vw;
    padding: 10px;
    color: white;
}

.friend-i:hover {
    color: #a8a7a7;
}

@media screen and (max-width: 910px) {
    .friend-section {
        flex-direction: column;
    }

    .friend-name {
        font-size: 23px;
    }

    .friend-div-img {
        width: 100%;
        margin: 5px 0;
        justify-content: center;
        background-image: linear-gradient(to right, rgb(0, 0, 0, 0.8), transparent);
        background-color: transparent;
        min-height: 200px;
    }

    .friend-img {
        padding: 10px 0;
        width: 270px;
    }

    .friend-text {
        margin-left: 0;
    }

    .friend-description {
        padding: 10px 0;
        font-size: 20px;
        width: 100%;
        margin: 0;
    }

    .friend-contact {
        width: 100%;
        padding-top: 15px;
        justify-content: center;
    }

    .friend-i {
        font-size: 25px;
        padding: 10px;
        color: white;
    }
}