.features {
    min-height: 100vh;
}

.features-div {
    height: 100vh;
    background: url('../images/wallpapers/002.jpg') no-repeat fixed;
    background-size: cover;
    background-position: 40%;
}

.nav-features {
    position: relative;
}

.title-features {
    margin: 10px;
}

.footer-features {
    background-color: black;
}

@media screen and (max-width: 910px) {
    .title-page {
        background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8), transparent);
        text-align: center;
        padding: 10px;
        line-height: 1.2;
        margin-top: 10px;
        z-index: 1;
    }
}