footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 5px;
  padding-right: 10px;
}

.footer-divImg {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  width: 30%;
}

.footer-img {
  width: 13%;
}

.footer-copyright {
  margin-top: 5px;
}

@media screen and (max-width: 910px) {
  footer {
    flex-direction: column;
  }

  .footer-divImg {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

  .footer-img {
    width: 20%;
  }

  .footer-copyright {
    text-align: center;
    width: 80%;
  }
}