.home-title {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-arrow-image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 20vh;
}

.main-nav {
  position: relative;
}

.link-arrow-image {
  display: flex;
  justify-content: center;
}

.home-arrow-image img {
  animation: animacaoSeta 2s linear infinite;
  width: 8vw;
}

.home-arrow-image img:hover {
  animation: animacaoSeta 0.3s linear infinite;
}

.darkness {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  z-index: 0;
}

.content-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.content-title-page {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  text-align: center;
  font-family: Amatic SC, cursive;
  width: 100%;
  font-size: 6.5vw;
  animation: animacaoSeta 4s linear infinite;
}

@keyframes animacaoSeta {
  50% {
    opacity: 0.3;
  }
}

.content-title-page {
  width: 85%;
}

.wallpaper01 {
  background: url('../images/wallpapers/001.jpg');
  background-size: cover;
}

.content-alternate {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  z-index: 5;
}

.div-alternate {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  background-color: rgb(19, 11, 24);
  margin: 10px;
  border: 1px solid rgb(204, 179, 219);
}

.div-alternate-selected {
  opacity: 0.8;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  background-color: rgb(204, 179, 219);
  margin: 10px;
  border: 1px solid rgb(19, 11, 24);
}

@media screen and (max-width: 910px) {
  .content-title-page {
    font-size: 65px;
  }

  .home-arrow-image img {
    width: 20%;
  }

  .wallpaper01,
  .wallpaper02,
  .wallpaper03 {
    background-position: 50%;
  }
}