.container-all-lists {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}

.container-list {
    background-image: url('../images/wallpapers/ceu_noturno.jpeg');
    background-size: cover;
    background-position: 60%;
}

.container-list-selected {
    background-image: url('../images/wallpapers/moon.jpg');
    background-size: cover;
    background-position: 0 99%;
}

.container-list,
.container-list-selected {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: 0.5vw;
    width: 29vw;
    height: 25vh;
    font-size: 1.6vw;
    font-weight: bolder;
    text-align: center;
}

.container-list:hover,
.container-list-selected:hover {
    border: 1px solid white;
}

.container-list-text {
    justify-content: center;
    align-items: center;
}

.container-list-text p,
.container-list {
    text-align: center;
}

@media screen and (min-width: 911px) and (max-width: 1300px) {

    .container-list,
    .container-list-selected {
        width: 25vw;
        font-size: 25px;
        -webkit-text-stroke-width: 0;
    }
}

@media screen and (max-width: 910px) {

    .container-list,
    .container-list-selected {
        width: 25vw;
        font-size: 17px;
        -webkit-text-stroke-width: 0;
    }
}

@media screen and (max-width: 500px) {

    .container-list,
    .container-list-selected {
        height: 150px;
    }
}