.image-list {
    padding-top: 1vh;
    width: 20%;
}

.image-breed-1 {
    width: 9vw;
}

.image-breed-2 {
    width: 7vw;
}

.image-breed-3 {
    width: 10vw;
}

.image-trybe-1 {
    width: 6vw;
}

.image-trybe-2 {
    width: 10vw;
}

.image-trybe-3 {
    width: 7vw;
}

.image-trybe-4 {
    padding-top: 2vh;
    width: 10vw;
}

.image-trybe-5 {
    width: 6vw;
}

.image-trybe-6 {
    width: 8vw;
}

.image-trybe-7 {
    padding-top: 4vh;
    width: 14vw;
}

.image-trybe-8 {
    width: 5vw;
}

.image-trybe-9 {
    padding-top: 4vh;
    width: 12vw;
}

.image-trybe-10 {
    padding-top: 4vh;
    width: 12vw;
}

.image-trybe-11 {
    padding-top: 2vh;
    width: 12vw;
}

.image-trybe-12 {
    padding-top: 1vh;
    width: 9vw;
}

.image-trybe-13 {
    padding-top: 3vh;
    width: 14vw;
}

.image-trybe-14 {
    padding-top: 3vh;
    width: 9vw;
}

.image-trybe-15 {
    padding-top: 3vh;
    width: 14vw;
}

.image-trybe-16 {
    width: 4vw;
}

.image-trybe-17 {
    width: 8vw;
}

.image-auspices-1,
.image-auspices-2,
.image-auspices-3,
.image-auspices-4,
.image-auspices-5 {
    width: 6.5vw;
}

@media screen and (max-width: 910px) {
    .image-list {
        padding-top: 10px;
        width: 20%;
    }

    .image-breed-1 {
        width: 60%;
    }

    .image-breed-2 {
        width: 50%;
    }

    .image-breed-3 {
        width: 80%;
    }

    .image-trybe-1 {
        width: 45%;
    }

    .image-trybe-2 {
        width: 70%;
    }

    .image-trybe-3 {
        width: 48%;
    }

    .image-trybe-4 {
        padding-top: 20px;
        width: 75%;
    }

    .image-trybe-5 {
        width: 40%;
    }

    .image-trybe-6 {
        width: 55%;
    }

    .image-trybe-7 {
        padding-top: 25px;
        width: 95%;
    }

    .image-trybe-8 {
        width: 30%;
    }

    .image-trybe-9 {
        padding-top: 25px;
        width: 90%;
    }

    .image-trybe-10 {
        padding-top: 25px;
        width: 85%;
    }

    .image-trybe-11 {
        padding-top: 15px;
        width: 85%;
    }

    .image-trybe-12 {
        padding-top: 10px;
        width: 65%;
    }

    .image-trybe-13 {
        padding-top: 20px;
        width: 90%;
    }

    .image-trybe-14 {
        padding-top: 20px;
        width: 65%;
    }

    .image-trybe-15 {
        padding-top: 20px;
        width: 90%;
    }

    .image-trybe-16 {
        width: 28%;
    }

    .image-trybe-17 {
        width: 45%;
    }

    .image-auspices-1,
    .image-auspices-2,
    .image-auspices-3,
    .image-auspices-4,
    .image-auspices-5 {
        width: 60%;
    }
}