.nav-nav {
  z-index: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

nav {
  z-index: 1;
}

.nav-ulNav {
  width: 96%;
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

.nav-liNav {
  background-image: none;
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.nav-liSpan {
  color: white;
}

.nav-aNav {
  margin: 5px;
  padding: 0 5px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-aNav:hover {
  color: #eb9d98;
}

.nav-liSearch {
  display: flex;
  flex-direction: row;
}

.nav-inputSearch {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px 0;
  padding: 2px 6px;
  text-align: center;
  width: 80%;
}

.nav-btnSearch {
  width: 15%;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 4px 2px 4px;
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: bolder;
  background-color: black;
  border: 1px solid white;
}

.nav-btnSearch:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

@media screen and (max-width: 910px) {
  .nav-ulNav {
    justify-content: center;
    flex-flow: wrap;
  }

  .nav-ulNav {
    width: 80%;
    margin: auto;
  }
}