.navegation {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 96vw;
    min-height: 90vh;
    background-color: black;
    color: white;
}

.navegation a {
    text-decoration: none;
    color: white;
}

.navegation-p {
    padding: 10px;
    font-size: 1.4em;
    font-weight: bolder;
    z-index: 1;
}

.navegation-link-inside,
.navegation-link,
.navegation-link-vert-inside,
.navegation-link-hor-inside {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.navegation-link-container {
    width: 30%;
    min-height: 100%;
}

.navegation-link-inside {
    margin-top: 0;
    height: 48.2%;
    position: relative;
    background-color: gray;
}

.navegation-link-inside:nth-child(1) {
    background-image: url('../images/menu/garou_nordeste.jpg');
    background-size: cover;
    background-position: 50%;
}

.navegation-link-inside:nth-child(2) {
    background-image: url('../images/menu/kombi.jpg');
    margin-top: 6%;
    background-size: cover;
    background-position: 50%;
}

.navegation-link {
    background-image: url('https://media0.giphy.com/media/eGNpmOUeIIYUB4P4Al/giphy.gif?cid=ecf05e47n75145gye8fzw4eelk64zsl6jgulmjh3g1pm88a3&rid=giphy.gif&ct=g');
    background-size: cover;
    background-position: 35%;
    margin: 0 1.5% 0;
    width: 30%;
    height: 100vh;
    position: relative;
}

.navegation-link-vertical {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.navegation-link-vert-inside {
    background-color: gray;
    background-image: url('../images/menu/werewolf-blood.png');
    background-size: cover;
    margin-top: 0;
    height: 47%;
    position: relative;
}

.navegation-link-horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 4%;
}

.navegation-link-hor-inside {
    width: 48%;
    height: 100%;
    position: relative;
}

.navegation-link-hor-inside:nth-child(01) {
    background-image: url('../images/menu/ritual.jpg');
    background-size: cover;
    background-position: 50%;
    margin-right: 2%;
}

.navegation-link-hor-inside:nth-child(02) {
    background-image: url('https://media.giphy.com/media/ugcss7H8FXXpe/giphy.gif');
    background-size: cover;
    background-position: 35%;
    margin-left: 2%;
}

.darkness2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.55);
}

.darkness2:hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}