.grid {
    width: 600px;
    height: 500px;
    color: black;
    display: grid;
}

.grid1 {
    background-color: white;
    padding: 20px;
    grid-area: grid1;
    margin: 5px;
}

.grid2 {
    background-color: gray;
    padding: 20px;
    grid-area: grid2;
    margin: 5px;
}

.grid3 {
    background-color: green;
    padding: 20px;
    grid-area: grid3;
    margin: 5px;
}

.grid4 {
    background-color: yellow;
    padding: 20px;
    grid-area: grid4;
    margin: 5px;
}

.grid5 {
    background-color: red;
    padding: 20px;
    grid-area: grid5;
    margin: 5px;
}

.grid6 {
    background-color: blue;
    padding: 20px;
    grid-area: grid6;
    margin: 5px;
}

.grid-template-areas-1 {
    grid-template-areas:
        "grid1 grid2 grid2"
        "grid3 grid4 grid5"
        "grid3 grid6 grid6"
    ;
}