* {
  margin: 0px;
  padding: 0px;
}

body {
  color: white;
  font-family: Andika New Basic, sans-serif;
  background-color: black;
}

.main {
  height: 100vh;
  position: relative;
}

.title-page {
  background-image: linear-gradient(to right, rgb(0, 0, 0, 0.8), transparent);
  color: white;
  font-size: 50px;
  padding: 20px 30px 20px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
  z-index: 1;
}