@tailwind base;
@tailwind components;
@tailwind utilities;



.constr-gif-wolf {
  animation: run linear 5s infinite;
}

.constr-gif-wolf:nth-child(01) {
  animation: run linear 7s infinite;
}

.constr-gif-wolf:nth-child(02) {
  animation: run linear 2s infinite;
}

.constr-gif-wolf:nth-child(03) {
  animation: run linear 4s infinite;
}

.constr-gif-wolf:nth-child(04) {
  animation: run linear 3s infinite;
}

@keyframes run {
  0% {
    transform: translate(-75px, 0px);
    opacity: 0;
  }

  25% {
    transform: translate(-50px, 0px);
  }

  50% {
    transform: translate(-25px, 0px);
    opacity: 1;
  }

  75% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(25px, 0px);
    opacity: 0;
  }
}

.swiper-button-next::after, .swiper-button-prev::after {
  color: white;
  font-size: 60px;
  font-weight: bolder;
  -webkit-text-stroke-width: 1px; /* largura da borda */
  -webkit-text-stroke-color: #000; /* cor da borda */
}

.swiper-slide-active {
  filter: blur(0);
}



.slider-swiper-div {
  max-width: 30%;
}

@media (min-width: 650px) and (max-width: 965px) {
  .swiper-slide {
    max-width: 45%;
  }  
}

@media (min-width: 350px) and (max-width: 649px) {
  .swiper-slide {
    max-width: 70%;
  }  
}

@media (max-width: 349px) {
  .swiper-slide {
    max-width: 95%;
  }
  .swiper-button-next::after, .swiper-button-prev::after {
    display: none;
  }
}

.h {
  height: 100%;
}